@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Bold.ttf")
    format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf")
    format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0E1014;;
    color: white
}

header {
display: block;
    margin: 75px 360px 60px;
}

h1 {
    font-size: 80px;
    font-family: "Unbounded", sans-serif;
    text-align: center;
    margin: 169px auto 24px;
}
 
h1 span {
    color: #9747FF;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight:normal;
    font-size: 24px;
    text-align: center;
    width: 792px;
    margin: 0 auto;

}

a {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    background-color: #9747FF;
    display: block;
    margin: 40px auto;
    width: 340px;
    height: 66px; 
    line-height: 66px; 
    border-radius: 36px;
    text-align: center;

}

a:hover {
    background-color: #8233E8;
}

section img {
    display: block;
    width: 762;
    height: 446;
    margin: 0 auto;
}

@media(max-width: 768px) {

    header {
        margin: 65px 60px;
    }

    p {
        width: 648px;
    }
    
}

@media(max-width: 375px) {

    header {
        margin: 32px 16px;
    }

    p {
        width: 648px;
    }

    h1 {
        font-size: 40px;
        margin: 126px 17px 24px;
    
    }

    p {
        font-size: 20px;
        width: 340px;
    }

    a {
        font-size: 20px;
        width: 251px;
    }
    
    section img {
        width: 340px;
        height: 230px;
    }
}